$color-primary-green: #87BCBF;
$color-primary-orange: #D97D54;
$color-primary-blue: #324755;

$color-secondary-white: #F0F3F4;
$color-secondary-brown: #B9B0A2;
$color-secondary-blue: #C8D1D3;

$color-text-primary: rgb(0, 0, 0);
$color-text-secondary: rgb(0, 0, 0);
$color-text-secondary-light: rgb(0, 0, 0);


