@import '../css/colors.scss';

body {
    background-color: #F0F3F4;
    font-family: "Roboto";
    line-height: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.selected {
    color: palevioletred;
}


.hidden {
    display: none;
}

.row {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.section-title {
    margin-top: 1em;
}

.text-white  {
    color: $color-text-white !important;
}

.tab {
    background-color: whitesmoke;
    margin-top: 1em;
    padding: 1em;
}

.brightness80 {
    filter: brightness(80%);
}