@import '../../css/colors';

.card {
    color: #1b1c20;
    box-sizing: border-box;
    background-color: white;
    height: 320px;
    border-radius: 0.8em;
    overflow: hidden;
    padding-bottom: 20px;
    margin: auto;    
    margin-bottom: 20px;
    border-bottom: solid 20px white;
    box-shadow: 0 10px 15px rgba(128,128,128,0.1),
                0 10px 15px rgba(128,128,128,0.1);
    .text-white {
        color: white !important;
    }
}

.card-full {
    border-bottom: initial;
    height: 150px;
}

.card h2 {
    line-height: 1em;
}

.card span {
    text-align: left;
}

.card .card-image {
    height: 50%;
}

.card .card-image-full {
    height: 100%;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

}

.card-1 .card-image {
    background-color: #B9B0A2;
    color: #F0F3F4
}

.card-2 .card-image {
    background-color: #D97D54;
    color: #F0F3F4
}

.card-3 .card-image {
    background-color: #324755;
    color: #F0F3F4
}

.card-4 .card-image {
    background-color: #C8D1D3;
    color: #1b1c20
}

.card > * {
    padding: 10px;
    padding-top: 20px;
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}